<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Branchs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let item of branchList">
        <ion-card class="m-1">
          <img style="padding:3px"[src]="glob.base_url+item.img">
          <div class="ion-padding-start" routerLink="/tabs/tab1/booking/{{item.branch_id}}">
            <h1 class="m-0">{{item.branch_name}}</h1>
            <p>{{item.description}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
